@font-face {
    font-family: 'DOSGothic';
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    src: url('https://cdn.jsdelivr.net/gh/fonts-archive/DOSGothic/DOSGothic.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/DOSGothic/DOSGothic.woff') format('woff');
         url('https://cdn.jsdelivr.net/gh/fonts-archive/DOSGothic/DOSGothic.ttf') format('truetype');
}
